*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
    
}

html {
    scroll-behavior: smooth;
    /* background-color: aqua; */
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--black);

}