/* animation of socialicons in the navigationbar */
.navbar-brand {
    background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
   background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style: normal;
}
.navbar-brand:hover {
    text-decoration: overline;
    color: #453a94;
}
.api:hover {
text-decoration: overline;
}
