.bi {
    border-radius: 50%;
    color: rgb(128, 128, 128,.3);
    padding: 3px 8px;
}
.bi:hover {
    color: rgb(0, 0, 0,.8);
    background-color: rgba(173, 255, 47);
}
.socialmedialinks:hover {
    background-color: greenyellow;
    color: black;
}

.navbar-brand {
    background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
   background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style: normal;
}
.navbar-brand:hover {
    text-decoration: overline;
    color: #453a94;
    }
    /* 
.socialicons .bi-reddit {
    color: rgb(255,69,0);
}
.socialicons .bi-facebook {
    color: green;
}
.socialicons .bi-github {
    color: green;
}
.socialicons .bi-instagram {
    color: green;
}
.socialicons .bi-linkedin {
    color: green;
}
.socialicons .bi-twitter-x {
    color: green;
}
.socialicons .bi-dribbble {
    color: green;
} */
.api:hover {
text-decoration: overline;
}