/* Google api installer */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Bootstrap icon set  */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

 /* p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
.offcanvafs {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
.offcanvas-title {
    font-family: "Fira Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

