.bi {
    border-radius: 50%;
    /* color: rgb(128, 128, 128,.3); */
    padding: 1px 5px 2px 5px;
} 
.bi:hover {
    color: rgb(0, 0, 0,.8);
    background-color: rgba(173, 255, 47);
} 
ul#navbarsocialicons .bi {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}
ul#navbarsocialicons .bi-reddit:hover {
  background-color: grey;
}
ul#navbarsocialicons .bi-facebook:hover {
  color: aqua;
  background-color: grey;
}
ul#navbarsocialicons .bi-github:hover {
  color: aqua;
  background-color: grey;
}
ul#navbarsocialicons .bi-instagram:hover {
  color: aqua;
  background-color: grey;
}
ul#navbarsocialicons .bi-linkedin:hover {
  color: aqua;
  background-color: grey;
}
ul#navbarsocialicons .bi-twitter-x:hover {
  color: aqua;
  background-color: grey;
}
ul#navbarsocialicons .bi-dribbble:hover {
  color: aqua;
  background-color: grey;
}