:root {
  --animate-delay:2s
}
.animate__animated.animate__slideInDown {
  --animate-duration: 2s;
}

.bi {
    border-radius: 50%;
    color: rgb(128, 128, 128,.3);
    padding: 1px 5px 2px 5px;
} 
.bi:hover {
    color: rgb(0, 0, 0,.8);
    background-color: rgba(173, 255, 47);
} 
/* homepage menu toggler btn */
  .navbar a.menubtn {
    font-size: 1.9rem;
  }
  .navbar a.menubtn:hover {
    background-color: transparent;
    }
.bi-reddit {
  --animate-delay: 3s;
}
#navbarsocialicons .bi-facebook {
  --animate-delay: 4s;
}
#navbarsocialicons .bi-github {
  --animate-delay: 6s;
}
#navbarsocialicons .bi-instagram {
  --animate-delay: 8s;
}
#navbarsocialicons .bi-linkedin {
  --animate-delay: 10s;
}
#navbarsocialicons .bi-twitter-x {
  --animate-delay: 12s;
}
#navbarsocialicons .bi-dribbble {
  --animate-delay: 14s;
} 
.socialmedialinks a:hover {
  background-color: greenyellow;
  border-radius: 50%;
  color: black;
  
}
