
/* responsive fonts size of the menu list*/

@media (min-width: 576px) {
    .offcanvafs {
        font-size: 1rem !important;
        width: 100% !important;
        height: fit-content !important;
      }
  }
  
  @media (min-width: 768px) {
      .offcanvafs {
          font-size: 6rem !important;
          width: 100% !important;
          height: fit-content !important;
      }
/* .bi {
    border-radius: 50%;
    color: rgb(128, 128, 128,.3);
    padding: 3px 8px;
} */
    
    
  }
  
  @media (min-width: 992px) {
      .offcanvafs {
          font-size: 8rem !important;
          width: 100% !important;
          height: fit-content !important;
  }
  /* .bi {
    border-radius: 50%;
    color: rgb(128, 128, 128,.3);
    padding: 3px 8px;
} */
}

@media (min-width: 1200px) {
  .offcanvafs {
    font-size: 4rem !important;
    width: 100% !important;
    height: fit-content !important;
  }
/* .bi {
    border-radius: 50%;
    color: rgb(128, 128, 128,.3);
    padding: 3px 8px;
} */
}
/* end of the manu font responsive */

/* responsive font name showcase */

@media (min-width: 576px) {
    .cp-w {
        font-size: 5rem !important;
       
      }
  }
@media (min-width: 768px) {
    .cp-w {
        font-size: 3rem !important;
       
      }
  }
@media (min-width: 992px) {
    .cp-w {
        font-size: 4rem !important;
       
      }
  }
@media (min-width: 1200px) {
    .cp-w {
        font-size: 5rem !important;
       
      }
  }
