
/* responsive fonts size of the menu list*/

@media (min-width: 576px) {
    .fontfs {
        font-size: 1.25rem !important;
        width: 100% !important;
        height: fit-content !important;
      }
      .bi {
        font-size: 2rem;
        padding: 2px 4px;
    
    }
  }
  
  @media (min-width: 768px) {
      .fontfs {
          font-size: 6rem !important;
          width: 100% !important;
          height: fit-content !important;
      }
      .bi {
        font-size: 2rem;
    
    }
  }
  
  @media (min-width: 992px) {
      .fontfs {
          font-size: 8rem !important;
          width: 100% !important;
          height: fit-content !important;
  }
  .bi {
    font-size: 2rem;
    
}
}

@media (min-width: 1200px) {
  .fontfs {
    font-size: 6rem !important;
    width: 100% !important;
    height: fit-content !important;
  }
  .bi {
    transform: translate(50% -50%);
    font-size: 2rem;
    padding: 4px 10px;
}
}
/* end of the manu font responsive */

/* responsive font name showcase */

@media (min-width: 576px) {
    .cp-w {
        font-size: 5rem !important;
       
      }
  }
@media (min-width: 768px) {
    .cp-w {
        font-size: 3rem !important;
       
      }
  }
@media (min-width: 992px) {
    .cp-w {
        font-size: 4rem !important;
       
      }
  }
@media (min-width: 1200px) {
    .cp-w {
        font-size: 5rem !important;
       
      }
  }
